/* footer */
.footer-item {
    padding: .5rem 2rem;
    background: #f1df11;
    display: flex;

}

.footer-item .img-footer {
    align-items: center;
    display: flex;
}

.footer-item .img-footer img {
    width: 100%;
}

.footer-item .social-footer {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: flex-end;
}

.footer-item .social-footer li a {
    color: #000000;
    font-size: 2rem;
}

.footer-item .social-footer li:last-child {
    margin-left: .5rem;
}

.link >p, .info >p{
    font-weight: 700;
}
.link.div{

}
.info>img{

}
@media only screen and (max-width:550px)
{
    .footer-flex-2{
        text-align: center!important;
    }
}
.slogan >p {
    padding:0px 10px;
    position: fixed;
    z-index: 1000;
    color: red;
    font-style: italic;
    bottom: 0;
    background-color: #f2f2f2;
    margin:10px;
}