nav.main-nav{
    background-color: #35bcaf;
    width: 100%;
    margin: 0;
    /*height: 42px;*/
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.container-fluid{
    background-color: #35bcaf;
}

.container-fluid{
    padding-left: 0px;
    /*padding: 10.5px 20px;*/
}
/*************/


@media (min-width: 576px) {
    nav.main-nav {
        position: inherit;
    }
    .wrap #navbarSupportedContent {
        bottom: 0;
    }
    .collapse:not(.show) {
        display: none;
        bottom: 0;
    }
    #navbarSupportedContent ul > li{
        z-index: 10000!important;
        position: relative;
    }
}

/*------------*/
.navbar-toggler{
    color: white;
    outline: none;
    border: none;
    box-shadow: none !important;
    margin-right: auto;
    padding-left: 5px;
}


nav.navbar{
    background-color: transparent;
    font-size: 0.9rem;
    padding: 0px;
}



.navbar-brand{
    color: white !important;
}
.navbar-brand{
    font-size: 12px;
    line-height: 1.6;
    font-family: Roboto;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    color: #ffffff;
    padding-left: 10px;
}
.navbar-brand:focus{
    color: #ffffff;
}
.navbar-brand:after{
    color: white;
}
.navbar.nav-item{
    z-index: 100!important;
}
.navbar-toggler-icon{
    font-size: 12px;
    color: #ffffff;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
}

.nav-item{
    padding-right: 10px;
    padding-left: 10px;
    border: none;

    /*border-bottom: 1px solid #144289;*/

    /*background-color: red;*/
}

.nav-item > .search-box{
    z-index: 15;
    opacity: 1;
    padding-right: 20px;
}

.nav-item:hover > .dropdown-menu{
    display: block !important;
    background-color: #35bcaf;
}

.dropdown-menu {
    margin-top: 0px;
    margin-left: 0px;
    border: none;
    padding: 10px 20px;

}
.dropdown-menu>li:focus{
    background-color: black;
}
.dropdown-toggle::after{
    content: none;
}

.nav-link{
    padding: 10.5px 10px;
    color: white;
}

.navbar-nav .nav-link.active{
    color: white;
    background-color: #35bcaf;

}

@media (min-width: 576px) {
    .nav-link:hover {
       color:white;
        background-color: #1d1d1d;
    }
    /*#navbarSupportedContent a{*/
    /*    border-bottom: 1px solid #144289;*/
    /*    z-index: 100;*/
    /*}*/
}
@media (max-width: 576px) {
    #navbarSupportedContent a{
        border-bottom: 1px solid #144289;
        z-index: 100;
    }
    .nav-link:focus{
        color:white;
        background-color: #35bcaf;
    }
    .dropdown-menu {
    margin-left: -10px;
    }
}



.nav-link i{
    color: white;
    font-size: 0.8rem;
    /*position: absolute;*/
    top: 16px;
    right: 10px;
}

.dropdown-item{
    background-color: #35bcaf;
    position: relative;
    display: block;
    font-size: 14px;
    font-family: Roboto;
    padding: 11px 20px;
    font-weight: 400;
    border-bottom: 1px solid #144289 ;
    color: white;
}

li:last-child > .dropdown-item{
    border-bottom: none;
}

.dropdown-item:hover, .nav-item:hover{
/*    background-color: black;*/
    color: white;
}
.dropdown-item:focus{
    color: white;
    background-color: #35bcaf;
}
.dropdown-item:active{
    color: white;
    background-color: #35bcaf;
}
/*******************/
@media  (min-width: 576px){
    .nav-item #searchbox {
        border-radius:5px;
        z-index: 1;
        margin:10px;
       
    }
    .dropdown-item:hover, .nav-item:hover, .nav-link.active:hover{
        background-color: black;
    }

    .nav-item .icon-search{
        top: 1rem;
    }
}
@media (max-width: 576px){
    .dropdown-item:hover, .nav-item:hover{
    background-color: #35bcaf;
    }
    
}
.nav-item .search > div{
        border-radius: 5px;
}
#searchbox  .search-box > i{
    color: black!important;
}
.task:focus{
    box-shadow: inset  0 0 0 2px orange;
    padding: 12px;
    border-radius: 5px;
    margin: 2px;
}
[class*= "icon-"]{
    margin-top: 10px;
}
.collapse{
    height: 100%;
    width: 0;
}
/***************/
